<html>
  <head>
        <title>about</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/about.js"></script>
  </head>

  <body>
        <div class="main-content">
    {{>header}}
    <p>this site is created for testing nodejs</p>
    <img src="/img/mervz.jpg" class="portrait"/>
        </div>

        {{>footer}}
  </body>
</html>